SMTP_HOST=smtp.gmail.com '''DONT CHANGE'''
SMTP_PORT=587 '''DONT CHANGE'''
SMTP_USER=you@example.com '''CHANGE'''
SMTP_PASS=__fill_me_in__ '''CHANGE'''
FROM_ADDR=Your Name <you@example.com> '''CHANGE'''
